
<div class="container">
  <h1>Posts</h1>
<div class="container">

<% @posts.each do |post| %>
<div class="container-posts">
  
  <div class="row">
        <h3><%= post.title %></h3>
  </div>

  <div class="row">
     <p><%= post.body %></p>
  </div>
  <div class="row">
        
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning' %>
        <%= link_to 'Destroy', post, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  <br>
  <br>
  </div>
</div>
<br>
<% end %>
<br>

  <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>


