<!DOCTYPE html>
<html>
<head>
  <title>Monthlywe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<ul class="nav nav-tabs">
	  <li><%= link_to "Home", root_path%></li>
	  <li role="presentation"><a href="#">About</a></li>
	  <li role="presentation"><%= link_to "Posts", posts_path %></li>
	

		<ul class="pull-right user-info">
			Sign Up
			Sign in 
		</ul>
	</ul>

<%= yield %>

</body>
</html>
